# Generator

###### To Genterate Something

In [1]:
def fn(x,y):
    x=x-y
    return x+1

In [2]:
fn(5,9)

-3

In [3]:
def fn1(x,y):
    x=x-y
    yield x+1

In [4]:
fn1(5,9)

In [18]:
def generator():
    print("Harshada")
    yield "Harshada"+"Zade"
    
    print("Hello Python")
    yield 10
    
    print("Python Developer")
    yield 100

In [19]:
x=generator()

In [20]:
generator()

In [9]:
print(x)

<generator object generator at 0x000001FFFA6CA200>

In [12]:
print(next(x))

Python Developer
100

In [24]:
print(next(x))
print(next(x))
print(next(x))

StopIteration:

In [ ]:
print(next(x))

In [25]:
def generator():
    print("Harshada")
    yield "Harshada"+"Zade"
    
    return    #will stop generations
    print("Hello Python")
    yield 10
    
    print("Python Developer")
    yield 100

In [26]:
x=generator()
print(next(x))
print(next(x))
print(next(x))
print(next(x))

Harshada
HarshadaZade

StopIteration:

# For Loop

In [31]:
def generator():
    print("Harshada")
    yield "Harshada"+"Zade"
    
    print("Hello Python")
    yield 10
    
    print("Python Developer")
    yield 100
    
x=generator()
for i in x:
    print(i)

Harshada
HarshadaZade
Hello Python
10
Python Developer
100

In [38]:
def generator():
    print("Harshada")
    yield "Harshada"+" "+"Zade"
    
    return   #will stop generation
    print("Hello Python")
    yield 10
    
    print("Python Developer")
    yield 100

In [39]:
x=generator()
for i in x:
    print(i)

Harshada
Harshada Zade

In [40]:
def generator():
    print("Harshada")
    return
    yield "Harshada"+"Zade"
    
    print("Hello Python")
    yield 10
    
    print("Python Developer")
    yield 100
    
x=generator()
for i in x:
    print(i)

Harshada

# Difference between Iterator and Generator

1) we can use iterators elements as many times bt in generator we can use only once.
2)iterator uses two functions iter() and next and generator uses only one fn next() and yield keyword
3)gen

### Example

Suppose you're building a system to analyze and visualize large sets of temperature data. 
Your data source is a large file containing temperature readings for different locations over time.

You can use iterators and generators to read this data efficiently and process it in chunks, rather 
than loading the entire file into memory at once. This approach allows you to process large datasets 
without running into memory constraints.

In [41]:
temperature_data = [
    {'Location': 'New York', 'Date': '2022-01-01', 'Temperature': 32},
    {'Location': 'New York', 'Date': '2022-01-02', 'Temperature': 34},
    {'Location': 'New York', 'Date': '2022-01-03', 'Temperature': 36},
    {'Location': 'New York', 'Date': '2022-01-04', 'Temperature': 38},
    {'Location': 'Los Angeles', 'Date': '2022-01-01', 'Temperature': 68},
    {'Location': 'Los Angeles', 'Date': '2022-01-02', 'Temperature': 70},
    {'Location': 'Los Angeles', 'Date': '2022-01-03', 'Temperature': 72},
    {'Location': 'Los Angeles', 'Date': '2022-01-04', 'Temperature': 74}
]

import pandas as pd

# Create a DataFrame from the dictionary
df = pd.DataFrame(temperature_data)

# Print the DataFrame
df

      Location        Date  Temperature
0     New York  2022-01-01           32
1     New York  2022-01-02           34
2     New York  2022-01-03           36
3     New York  2022-01-04           38
4  Los Angeles  2022-01-01           68
5  Los Angeles  2022-01-02           70
6  Los Angeles  2022-01-03           72
7  Los Angeles  2022-01-04           74

In [42]:
df.to_csv('temperature_data_output.csv', index=False)

In [48]:
#Defination a generators function to read tempeesture data from a file.
def temp_reader(filename):
    with open (filename,"r") as file:
        for line in file:
            yield line.strip()
            
#Defination a generators function to parse tempeesture data.
def parse_temp(temperature,data):
    for item in temperature_data,slipt():
        yield float(item)

#Defination a generators function to calcualte the tempeesture for each location

def calculate_average_temp(temperature):
    toyal=0
    count=0
    for temperature in temperatures:
        total += temperature
        count += 1
    yield total/count
    
    
#read temperature data from a file
temperature_data=temp_reader('temperature_data_output.csv')



# # Process the data in chunks
# chunk_size = 100
# for i in range(0, len(temperature_data), chunk_size):
#     chunk = temperature_data[i:i+chunk_size]
    
#     # Parse the temperature data
#     parsed_data = parse_temperature_data(chunk)
    
#     # Calculate the average temperature for each location
#     average_temperatures = calculate_average_temperature(parsed_data)
    
#     # Print the average temperatures
#     for average_temperature in average_temperatures:
#         print(average_temperature)

In [49]:
next(temperature_data)

'Location,Date,Temperature'

In [50]:
next(temperature_data)

'New York,2022-01-01,32'

In [51]:
def fn():
    return 2+3

In [52]:
fn()

5

In [54]:
def fn():
    return 2+3
    return 8+3

In [55]:
fn()

5