In [1]:
even=lambda a:a%2==0
even(11)

False

In [2]:
r = lambda a : a + 15
print(r(10)) 
r = lambda x, y : x * y   #multiple varibles or parameters and only one expression
print(r(12, 4))

25
48

In [3]:
def mult(n):
    return lambda x:x*n

In [4]:
doubler=mult(2)
doubler(8)

16

In [5]:
tripler=mult(3)
tripler(8)

24

### filter()

In [6]:
l=[56,33,13,23,22,45,56,67,3]
x=list(filter(lambda a:a%2!=0,l))
print(x)

[33, 13, 23, 45, 67, 3]

In [7]:
l=[56,33,13,23,22,45,56,67,3,1,2,5,6]
x=list(filter(lambda a:a<6,l))
print(x)

[3, 1, 2, 5]

### map()

In [3]:
#square

nums=[1,2,3,4,5,6,7,8,9]
square=list(map(lambda a:a*a,nums))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### reduce()

the reduce(fn,seq) fn is used to apply a particular fn passed in its arguments to all of the
list elements mentioned in the sequence passed along.
- defined i9n "functools" modules
- 2 4 6 8
- 2+4 6 8
- 6+6 8
- 12+8
- 20
- At first step, 1st 2 elements of a sequence are picked and the result is obtained.

syntax:
-from functools import reduce
result = reduce(lambda x, y: expression, iterable)

### sum of list elements using reduce fn

In [16]:
from functools import reduce
def multiplication(a,b):
    return a*b

In [17]:
multiplication(9,0)

0

In [19]:
1*2*3*4*5*6*7

5040

In [18]:
val=[1,2,3,4,5,6,7]  #1,2 are a,b
add=reduce(multiplication,val)
add

5040

In [20]:
val=[1,2,3,4,5,6,7]  #1,2 are a,b
add=reduce(lambda x,y:x*y,val)
add

5040

In [21]:
add_lambda=reduce(lambda a,b:a+b,val)

In [22]:
add_lambda

28

In [23]:
1+2+3+4+5+6+7

28

### Finding max value in the list using Reduce function

In [25]:
def maximum(a,b):
    if a>b:
        return a
    else: 
        return b

In [26]:
val=[2,4,5,7,10,19,20,10]
max1=reduce(maximum,val)

In [27]:
max1

20

In [28]:
max_lambda=reduce(lambda a,b:a if a>b else b,val)

In [29]:
max_lambda

20

### product of numbers

In [20]:
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)

print("Product of elements:", product)

Product of elements: 120