# create and extracting the character

In [3]:
my_list_01=['a','b','c','abc','cba','01']
print(my_list_01)

print("first item")
print(my_list_01[0])

print("third item")
print(my_list_01[3])

print("fifth item")
print(my_list_01[5])

['a', 'b', 'c', 'abc', 'cba', '01']
first item
a
third item
abc
fifth item
01

# Nested List

In [13]:
my_list_02=['happy','python',[0,1,2]]
print(my_list_02[0][3])
print(my_list_02[2][1])

p
1

In [15]:
list_02=['100','01','000','123']
print(list_02[3][0])
print(list_02[0][2])

1
0

# List slicing

In [20]:
list1=['a','b','e','t','h','o','u']
print(list1)

#element from index 0 to 4
print(list1[0:4])

print(list1[4:7])

['a', 'b', 'e', 't', 'h', 'o', 'u']
['a', 'b', 'e', 't']
['h', 'o', 'u']

In [24]:
list2=["apple","mango","banana","chiku"]
print(list2)

print(list2[0:3])
print(list2[2:])
print(list2[:3])
print(list2[0:-1])
print(list2[0:5])

['apple', 'mango', 'banana', 'chiku']
['apple', 'mango', 'banana']
['banana', 'chiku']
['apple', 'mango', 'banana']
['apple', 'mango', 'banana']
['apple', 'mango', 'banana', 'chiku']

# changing the item value

In [30]:
#correcting mistakes values in a list

Even=[1,3,5,7,9]

print(Even)
#change the 1st item
Even[0]=2
#change the 2nd item
Even[1]=4
#change the 3rd item
Even[2]=6
#change the 4th item
Even[3]=8
#change the 5th item
Even[4]=10
print(Even)

Even[1:4]=[4,8,12,16]
print(Even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[2, 4, 8, 12, 16, 10]

# Appending and Extending

In [33]:
#Appending and Extending lists in python
even=[2,6,8]
even.append(4)
print(even)
even.extend([10,12,14])
print(even)

[2, 6, 8, 4]
[2, 6, 8, 4, 10, 12, 14]

# Inserting

In [37]:
#insert the item in the list
Name=["sejal","ketki","anuja","neha","ektaa"]
Name.insert(2,"kavya")
print(Name)
Name.insert(5,"anjali")
print(Name)

['sejal', 'ketki', 'kavya', 'anuja', 'neha', 'ektaa']
['sejal', 'ketki', 'kavya', 'anuja', 'neha', 'anjali', 'ektaa']

# List of number

In [51]:
Age=[10,20,30,40,50,34]
print(Age)
print(max(Age))
print(min(Age))
Age.sort()
print(Age)
Age.sort(reverse=True)
print(Age)
s=sum(Age)
print("sum is:",s)

[10, 20, 30, 40, 50, 34]
50
10
[10, 20, 30, 34, 40, 50]
[50, 40, 34, 30, 20, 10]
sum is: 184

In [49]:
mult=1
for i in Age:
    mult=mult*i
print(mult)

408000000

# Count in list

In [53]:
#return how many times item is repeated
fruits=("mango","apple","kiwi","banana","mango","apple","kiwi","kiwi","kiwi","apple")
print(fruits.count("apple"))
print(fruits)
print(fruits.count("banana"))
print(fruits.count("kiwi"))
print(fruits.count("mango"))
print(fruits)

3
('mango', 'apple', 'kiwi', 'banana', 'mango', 'apple', 'kiwi', 'kiwi', 'kiwi', 'apple')
1
4
2
('mango', 'apple', 'kiwi', 'banana', 'mango', 'apple', 'kiwi', 'kiwi', 'kiwi', 'apple')

In [54]:
program=("java","python","c","asp framework","java","python","c","data science")
print(program)
print(program.count("java"))
print(program.count("python"))
print(program.count("data science"))
print(program.count("c"))

('java', 'python', 'c', 'asp framework', 'java', 'python', 'c', 'data science')
2
2
1
2

# Extrating items from the list

In [61]:
subjects=["marathi","hindi","english","history","c_science"]
print(subjects)
print(subjects[2])
print(subjects[4])
print(subjects[0])
print(subjects[:3])
print(subjects[-3])
print(subjects[-1])
subjects.insert(2,"c")
print(subjects)

['marathi', 'hindi', 'english', 'history', 'c_science']
english
c_science
marathi
['marathi', 'hindi', 'english']
english
c_science
['marathi', 'hindi', 'c', 'english', 'history', 'c_science']

# pop

In [1]:
name=["n1","n2","n3"]
name.pop()

'n3'