# Factorial with recurssion

In [1]:
def factorial(n):
    if n==1 or n==0:
        return 1
    else:
        return (n*factorial(n-1))

In [ ]:
#n*factorial(n-1)
4*factorial(1)
4*3*2*1

In [5]:
factorial(5)

120

# Factorial without recurssion

In [37]:
def fact(n):
    factorial=1
    while n>=1:
        factorial=factorial*n
        n=n-1
    return factorial   

#4*3*2*1

In [38]:
fact(5)

120

# Fibonaci series

In [1]:
##without recurssion
def fibonacci(n):
    fib_sequence = [0, 1]  # Initialize the sequence with the first two terms

    if n <= 1:
        return fib_sequence

    for i in range(2, n + 1):
        next_term = fib_sequence[i - 1] + fib_sequence[i - 2]
        fib_sequence.append(next_term)

    return fib_sequence

fibonacci(5)

[0, 1, 1, 2, 3, 5]

In [6]:
# with recurssion
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    return fibonacci(n - 1) + fibonacci(n - 2)

for i in range(10):  # Print the first 10 terms of the sequence
    print(fibonacci(i), end=", ")
fibonacci(5)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34,

5

In [2]:
sqrt(8)

In [13]:
import math

In [22]:
from math import*

In [15]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [18]:
sqrt(64)

8.0

In [19]:
from math import pow

In [21]:
pow(8,5)

32768.0

In [23]:
from random import*

In [24]:
print(dir(random))

['__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__self__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__text_signature__']

In [27]:
file1=open(r"C:\Users\ipcs\Desktop\data.txt","r")

In [28]:
for each_data in file1:
    print(each_data)

i am learning data science

my name is vivek

In [30]:
print(file1.read(6))

In [47]:
file2=open(r"C:\Users\ipcs\Desktop\data2.txt","w")

In [48]:
file2.write("i am learninf python")
file2.write("From IPCS\n")
file2.close()

In [49]:
file2=open(r"C:\Users\ipcs\Desktop\data2.txt","a")

In [50]:
file2.write("abanbjshjh")
file2.close()

In [52]:
import pandas as pd

# Reading excel files

In [59]:
data3=pd.read_excel(r"C:\Users\ipcs\Downloads\Excel Sample Data.xlsx")

In [60]:
data3

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,Male,Caucasian,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,Female,Asian,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,Male,Asian,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,Female,Asian,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,Female,Asian,63,2020-07-26,216195,0.31,United States,Miami,NaT

In [53]:
data=pd.read_csv(r"C:\Users\ipcs\Downloads\industry.csv")

In [56]:
data

                         Industry
0              Accounting/Finance
1    Advertising/Public Relations
2              Aerospace/Aviation
3   Arts/Entertainment/Publishing
4                      Automotive
5                Banking/Mortgage
6            Business Development
7            Business Opportunity
8         Clerical/Administrative
9         Construction/Facilities
10                 Consumer Goods
11               Customer Service
12             Education/Training
13               Energy/Utilities
14                    Engineering
15            Government/Military
16                          Green
17                     Healthcare
18             Hospitality/Travel
19                Human Resources
20       Installation/Maintenance
21                      Insurance
22                       Internet
23                Job Search Aids
24       Law Enforcement/Security
25                          Legal
26           Management/Executive
27       Manufacturing/Operations
28                      Marketing
29           Non-Profit/Volunteer
30         Pharmaceutical/Biotech
31          Professional Services
32             QA/Quality Control
33                    Real Estate
34        Restaurant/Food Service
35                         Retail
36                          Sales
37               Science/Research
38                  Skilled Labor
39                     Technology
40             Telecommunications
41       Transportation/Logistics
42                          Other

In [61]:
import csv

In [64]:
with open(r"C:\Users\ipcs\Downloads\industry.csv","r") as csvfile:
    csvreader=csv.reader(csvfile)

In [65]:
csvreader

In [66]:
import json

In [67]:
json_file=open(r"C:\Users\ipcs\Desktop\json_file.json")

In [68]:
f=json.load(json_file)

In [69]:
f

{'squadName': 'Super hero squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Unknown',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}

In [71]:
for i in f["squadName"]:
    print(i)

S
u
p
e
r

h
e
r
o

s
q
u
a
d

In [72]:
import bs4

In [74]:
from bs4 import BeautifulSoup

In [75]:
with open(r"C:\Users\ipcs\Downloads\XML_file.xml","r") as f:
    data=f.read()

In [76]:
data

'<?xml version="1.0"?>\n<catalog>\n   <book id="bk101">\n      <author>Gambardella, Matthew</author>\n      <title>XML Developer\'s Guide</title>\n      <genre>Computer</genre>\n      <price>44.95</price>\n      <publish_date>2000-10-01</publish_date>\n      <description>An in-depth look at creating applications \n      with XML.</description>\n   </book>\n   \n   </book>\n   <book id="bk109">\n      <author>Kress, Peter</author>\n      <title>Paradox Lost</title>\n      <genre>Science Fiction</genre>\n      <price>6.95</price>\n      <publish_date>2000-11-02</publish_date>\n      <description>After an inadvertant trip through a Heisenberg\n      Uncertainty Device, James Salway discovers the problems \n      of being quantum.</description>\n  '

In [78]:
data1=BeautifulSoup(data,"xml")

In [79]:
data1

<?xml version="1.0" encoding="utf-8"?>
<catalog>
<book id="bk101">
<author>Gambardella, Matthew</author>
<title>XML Developer's Guide</title>
<genre>Computer</genre>
<price>44.95</price>
<publish_date>2000-10-01</publish_date>
<description>An in-depth look at creating applications
      with XML.</description>
</book>
</catalog>

In [80]:
data1.find_all("title")

In [81]:
data1.find("title")

In [86]:
data1.get_text()

"\n\nGambardella, Matthew\nXML Developer's Guide\nComputer\n44.95\n2000-10-01\nAn in-depth look at creating applications \n      with XML.\n\n"

In [4]:
def sum_list(list1):
    if not list1:
        return 0
    else:
        return list1[0] + sum_list(list1[1:])

In [5]:
sum_list([2,3,4,5,6])

0